@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5); 
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
  width: 45%;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.advanced-player {
  height: 40px;
  width: 270px;
  background: transparent;
  border: 4px solid rgb(255,255,255, .8);
  margin-left: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.progress-play {
  cursor: pointer;
  border: 7px solid transparent;
  border-left: 13px solid white;
}

.advanced-player-item {
  opacity: .8;
  cursor: pointer;
  transition: .3s; 
}

.advanced-player-item:hover {
  opacity: 1;
}

.advanced-player-item:active {
  transform: scale(1.1);
}
  
.progress-pause {
  position: relative;
  height: 14px;
  width: 20px;
  cursor: pointer;
}

.progress-pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  content: "";
  height: 14px;
  width: 3px;
}

.progress-pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 14px;
  width: 3px;
}

.progress-pause:hover {
  transform: scale(1.1);
}

.track-time {
  display: flex;
  font-size: 14px;
}

.top-progress-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.track-title {
  font-size: 11px;
  color: white;
}

.timeline {
  background: white;
  opacity: 0.8;
  width: 85px;
  height: 5px;
  cursor: pointer;
  border-radius: 25px;
}

.progress {
  background: #C5B358;
  width: 0%;
  height: 100%;
  transition: 0s;
}

.volume-container {
  cursor: pointer;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.volume-button {
  color: white;
  opacity: .8;

}

.volume-line {
  background: white;
  opacity: 0.8;
  width: 35px;
  height: 5px;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 2px;
}

.volume-progress {
  background: #C5B358;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

.volume {
  transform: scale(0.7);
}

.volume-off {
  display: none;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100%;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.footer-left {
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

/* Settings pop up */

.settings-pop-up {
  position: absolute;
  display: none;
  max-width: 250px;
  width: 100%;
  top: 420px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.settings-pop-up-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 15px;
} 

.settings-pop-up p {
  font-size: 16px;
  opacity: .8;
}

.pop-up-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(51, 50, 50);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:hover {
  background-color: rgb(107, 107, 107);
}

input:checked + .slider {
  background-color: #04AA6D;
}

input:checked + .slider:hover {
  background-color: #3e8e41;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3e8e41;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.photo-source {
  width: 100%;
  text-align: start;
}

.dropbtn {
  width: 60%;
}

.dropdown-content {
  width: 60%;
  outline: none;
}

.blocks-visibility {
  width: 100%;
}

.footer-left i {
  opacity: .8;
}

.footer-left i:hover {
  opacity: 1;
  cursor: pointer;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.todo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.todo-pop-up {
  position: absolute;
  display: none;
  max-width: 320px;
  width: 100%;
  max-height: 190px;
  height: 100%;
  top: 480px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  border-radius: 5px;
}

.todo-pop-up-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 15px;
} 

.todo-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-top-left {
  display: flex;
  position: relative;
}

.todo-top-left:hover {
  cursor: pointer;
}

.todo-select {
  padding: 2px;
  font-size: 20px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.todo-select-options {
  display: none;
  flex-direction: column;
  font-size: 15px;
  color: rgb(255,255,255, .3);
  background-color: #2e2d2d;
  border-radius: 5px;
  width: 210px;
}

.todo-select-options-active {
  display: flex;
}

.todo-select-option {
  text-align: start;
  padding: 7px 16px;
  width: 100%;
}

.todo-select-option:hover {
  cursor: pointer;
  background-color: rgb(255,255,255, .1);
}

.todo-select-arrow {
  background-image: url("../assets/svg/down-arrow.svg");
  background-repeat: no-repeat;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(255deg) brightness(100%) contrast(104%);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  position: absolute;
  left: 60px;
  top: 10px;
}

.todo-top-right {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.todo-top-right:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255,255,255, .3);
}

.todo-top-right i {
  opacity: 0.8;
}

.todo-top-right i:hover {
  cursor: pointer;
}

.todo-top-right-pop-up {
  position: absolute;
  display: none;
  max-width: 100px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  top: 45px;
  right: 10px;
  background-color: #2e2d2d;
  z-index: 2;
  border-radius: 5px;
}

.todo-top-right-pop-up-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-settings {
  font-size: 15px;
  padding: 6px 15px;
  text-align: center;
}

.todo-settings:hover {
  cursor: pointer;
  background-color: rgb(255,255,255, .1);
}

.todo-button {
  text-align: start;
}

.todo-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-bottom-active {
  display: none;
}

.todo-bottom-p1 {
  font-size: 16px;
  opacity: 0.7;
}

.todo-bottom-p2 {
  font-size: 14px;
  opacity: 0.5;
  margin-top: 8px;
  margin-bottom: 12px;
}

.todo-bottom-p2:hover {
  cursor: pointer;
  opacity: 0.8;
}

.new-todo-button {
  padding: 8px 22px;
  border-radius: 22px;
  color: white;
  border: none;
  background-color: rgb(22, 131, 131);
}

.new-todo-button:hover {
  cursor: pointer;
  background-color: rgb(15, 82, 82);
}

.todo-input {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.todo-input-active {
  display: block;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgb(255,255,255, .75);
}

@media (max-width: 768px) {

  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .settings-pop-up-active {
    display: none;
  } 

}