.weather-container {
  width: 180px;
}

.weather-container.hidden {
  display: none;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  color: #fff;
  opacity: 0.8;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.summary-item-title {
  opacity: 0.8;
}

.description {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather-icon {
  font-size: 44px;
}
