.greeting {
  font-size: 40px;
}

.greeting.hidden {
  display: none;
}

.user-name-input {
  /* font-size: 40px; */
  background-color: transparent;
  border: none;
  outline: none;
  color:#fff;
}

.user-name-input::placeholder {
  color: #fff;
  opacity: 0.8;
}
